<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style/about.css">
</head>
<body>
    <div class="about">
        <h1><span class="highlight">H</span>i! I'm <span class="highlight">G</span>abby</h1>
    <p>Learn more about me and how can I contribute to your team!</p>
    </div>

    <!-- ✅ Card Container -->
    <div class="card-container">
        <div class="child" onclick="loadPage(event, 'details-about/me.html', 'about')">
          <div class="card">
            <h3>Me</h3>
            <p>My whole personality as me, no filter.</p>
            <i class="fa-solid fa-hand"></i>
          </div>
        </div>
      
        <div class="child" onclick="loadPage(event, 'details-about/achievements.html')">
          <div class="card">
            <h3>Achievements</h3>
            <p>My humble yet proud achievements.</p>
            <i class="fa-solid fa-hand-holding-heart"></i>
          </div>
        </div>
      
        <div class="child" onclick="loadPage(event, 'details-about/school.html')">
          <div class="card">
            <h3>School & Skills</h3>
            <p>Schools I attended and graduated from.</p>
            <i class="fa-solid fa-code"></i>
          </div>
        </div>
      
        <div class="child" onclick="loadPage(event, 'details-about/hobbies.html')">
          <div class="card">
            <h3>Hobbies</h3>
            <p>Things I do outside work or for killing some time alone.</p>
            <i class="fa-solid fa-gamepad"></i>
          </div>
        </div>
      </div>
  

  <script src="../scripts/about.js"></script>
</body>
</html>