<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style/home.css">
</head>
<body>
    <div class="about">
        <h1>Welcome</h1>
        <h2>Visitors</h2>
        <p>Want to know more about me? 
            <br>Click About or download my Resume directly below</p>
            <a href="./assets/Lacar-Update-Resume-with-Diploma.pdf" class="btn" target="_blank">Resume</a>
    </div>

</body>
</html>