<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../style/project.css" />
  </head>
  <body>
    <div class="projects-section">
      <div class="projects-title">
        <h1><span class="highlight">P</span>rojects</h1>
        <p class="projects-subtitle">
          Here are my recent projects, most of them are from my college days and
          OJT
        </p>
      </div>

      <div class="projects-grid">
        <a
          href="https://github.com/gabriel0794/portfolio-new"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>Portfolio</h2>
            <p>This is the source code for this portfolio I've been working on.</p>
            <i class="fa-brands fa-github"></i>
          </div>
        </a>

        <a
          href="https://github.com/gabriel0794/capstone"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>Capstone Project</h2>
            <p>Collar based RFID System for pets.</p>
            <i class="fa-brands fa-github"></i>
          </div>
        </a>

        <a
          href="https://github.com/gabriel0794/My_Portfolio"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>My Portfolio</h2>
            <p>The first portfolio I made before making this second one.</p>
            <i class="fa-brands fa-github"></i>
          </div>
        </a>

        <a
          href="https://github.com/gabriel0794/Le-Patissier"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>Project Website</h2>
            <p>The first website I made in school for a project.</p>
            <i class="fa-brands fa-github"></i>
          </div>
        </a>

        <a
          href="https://bitbucket.org/johngabriel15/reactdjangoauth/src/main/"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>Midterm project</h2>
            <p>Simple authentication system requirements for midterm exam.</p>
            <i class="fa-brands fa-bitbucket"></i>
          </div>
        </a>

        <a
          href="https://github.com/gabriel0794/bafci"
          target="_blank"
          class="project-link"
        >
          <div class="project-card">
            <h2>Monitoring System BAFCI</h2>
            <p>Monitoring System for Insurance Company named BAFCI.</p>
            <i class="fa-brands fa-github"></i>
          </div>
        </a>

      </div>

      <p class="projects-footer">
        PS: I am leaving space to easily add more projects in the future
      </p>
    </div>
  </body>
</html>
